{% load staticfiles %}
<div class="l_box f_l">
    <div class="banner">
        <div id="slide-holder">
            <div id="slide-runner">
                <ul id="banner_img" style="width: 670px;">
                    {% for ad in ad_list %}
                        <li>
                        <a href="/" target="_blank"><img id="{{ ad.id }}" src='uploads/{{ ad.image_url }}' alt=""/></a>
                    {% endfor %}
                    </li>
                </ul>
                <div id="slide-controls">
                    <p id="slide-client" class="text"><strong></strong><span></span></p>
                    <p id="slide-desc" class="text"></p>
                    <p id="slide-nav"></p>
                </div>
            </div>
        </div>
        <script>
            if (!window.slider) {
                var slider = {};
            }

            slider.data = [
                {% for ad in ad_list %}
                    {
                        "id": "{{ ad.id }}", // 与slide-runner中的img标签id对应
                        "client": "{{ ad.title }}",
                        "desc": "{{ ad.description }}" //这里修改描述
                    },
                {% endfor %}
            ];

        </script>
    </div>
</div>
<!-- banner代码 结束 -->